
<!DOCTYPE html>

<head>
    {% block javascript %}
            {{ encore_entry_link_tags('login') }}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('loginstyle') }}
    {% endblock %}
</head>
{% block body %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!-- Slogan centralisé -->
                <a class="navbar-brand mx-auto" href="#">Folhetim</a>
                
            </div>
        </nav>
</header>
<main>
<div class="container">
    <div class="form_area">
        <p class="title">SIGN IN</p>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %} #}
            <div class="form_group">
                <label class="sub_title" for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form_style" autocomplete="email" required autofocus>
            </div>
            <div class="form_group">
                <label class="sub_title" for="inputPassword">Password</label>
                <input type="password" placeholder="Enter your password" name="password" id="password" class="form_style" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
            </div>
            
            <div>
                <button class="btn">SIGN IN</button>
                <p>Create an Account? <a class="link" href="{{path ('app_register')}}">Sign up here!</a></p>
                {# <a class="link" href=""></a> #}
            </div>
            {# <a class="link" href=""></a> #}
        </form>
        </div>
        {# <a class="link" href=""></a> #}
    </div>
</main>

</form>
{% endblock %}
