{% extends "base.html.twig" %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('all_books')}}

{% endblock %}
{% block body %}


	{% include 'nav.html.twig' %}


	<main>

		<h2>Books from our Site</h2>
        	{{ form_start(form) }}
					{{ form_row(form.titre) }}
					<button type="submit">Rechercher</button>
					{{ form_end(form) }}


		<div class="myBooks">
			{% for livre in arrayLivres %}

				<div class="card" style="width: 18rem;">
					<img src="{{ asset (livre.thumbnail) }}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{livre.titre}}</h5>
						<p class="card-text">{{livre.resume}}</p>
						<div style="display: flex; justify-content: space-between;">
							<a href="{{ path('detaille_livre', {'livreId': livre.id}) }}" class="btn btn-primary" style="width: 132px;height: 30px;">More</a>
                          
							<a href="{{ path('ajouter_livre_favoris', {'livreId': livre.id}) }}" class="btn btn-primary" style="width: 132px;height: 30px;">Add</a>
						</div>
					
					</div>
				</div>


			{% endfor %}
		</div>

	</main>

{% endblock %}
