<!DOCTYPE html>

<head>
    {% block javascript %}
            {{ encore_entry_link_tags('all_books') }}
    {% endblock %}
</head>

{% block body %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Slogan centralisé -->
            <a class="navbar-brand mx-auto" href="#">Folhetim</a>
            
            <!-- Boutons de connexion à droite -->
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path ("app_logout") }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path ('all_books')}}">All our books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path ('list_genres')}}">Genres that you like</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path ('rechercher_livre')}}">Your list of books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">Recommendation</a>
        </li>
        {# "{{path ('app_recommendation_rubrique', {'livre': livre})}}" #}
    </ul>
    {# , {'livre': livre} #}
</header>
<main>

    <h2>Books from our Site</h2>

    {% for livre in arrayLivres %}
        <div class="card" style="width: 18rem;">
        <img src="{{ asset (livre.thumbnail) }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{livre.titre}}</h5>
            <p class="card-text">{{livre.resume}}</p>
            <a href="" class="btn btn-primary">More Information</a>
        </div>
        </div>
    {% endfor %}

</main>

{% endblock %}
