<!DOCTYPE html>

<head>
    {% block javascript %}
            {{ encore_entry_link_tags('list_user') }}
    {% endblock %}
</head>

{% block body %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Slogan centralisé -->
            <a class="navbar-brand mx-auto" href="#">Folhetim</a>
            
            <!-- Boutons de connexion à droite -->
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path ("app_logout") }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path ('all_books')}}">All our books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path ('list_genres')}}">Genres that you like</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path ('rechercher_livre')}}">Your list of books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="#">Recommendation</a>
        </li>
        {# "{{path ('app_recommendation_rubrique', {'livre': livre})}}" #}
    </ul>
</header>
<main>
    <h2>Résultats de la recherche</h2>
    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        <button type="submit">Rechercher</button>
    {{ form_end(form) }}

    {% if livre is not empty %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ livre.titre }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Auteurs :</h6>
                <ul>
                    {% for author in livre.owner %}
                        <li>{{ author.nom }} {{ author.prenom }}</li>
                    {% endfor %}
                </ul>
                {# <p class="card-text">Author: {{ livre.owner }}</p> #}
                <p class="card-text">ISBN: {{ livre.isbn }}</p>
                <p class="card-text">Edition date: {{ livre.dateEdition|date('Y-m-d') }}</p>
                <p class="card-text">Number of pages: {{ livre.numberPages }}</p>
                <p class="card-text">Resume: {{ livre.resume }}</p>
                <img src="{{ asset (livre.smallThumbnail) }}"<br> 
                {# <img src="{{ asset (livre.thumbnail) }}"<br> #}
            </div>
            <form method="get">
                <a href="{{ path('ajouter_livre') }}">
                <button type="submit">Ajouter ce livre</button>
                </a>
            </form>

            {# <a href="{{ path('ajouter_livre', {userId:user.id}, {livreId:livre.id}) }}"> #}
            

        </div>
    {% else %}
        <p>Book not found.</p>
    {% endif %}
</main>
    
{% endblock %} 